:root {
    --padding-around: 0 6rem;
    --primary-text-color: #ECECEC;
    --secondary-text-color: #e553e8;
}

.flex {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    color: var(--primary-text-color);
}

h2 {
    font-size: 2rem;
    color: var(--primary-text-color);
}

h3 {
    font-size: 1.5rem;
    color: var(--primary-text-color);
}

h4 {
    font-size: 1.2rem;
    color: var(--primary-text-color);
    font-weight: 400;
}

p {
    font-size: 1rem;
    line-height: 2.5rem;
    color: var(--primary-text-color);
}

a {
    text-decoration: none;
    display: inline-block;
}

span {
    color: var(--secondary-text-color);
    font-size: 1rem;

}

.container {
    margin-inline: auto;
}

/* ------- */
/* --scroll bar-- */
/* ------- */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #2d1950;
}

::-webkit-scrollbar-thumb {
    background: rgba(165, 110, 201, 0.959);
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-text-color);
    border-radius: 12px;
}

/* ------- */
/* --preloader-- */
/* ------- */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #0c0513;
    align-items: center;

}

.preloader img {
    height: 7rem;
    width: 7rem;
}



/* ------- */
/* --Navbar-- */
/* ------- */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    margin-inline: auto;
    transition: top 0.3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.logo a img {
    height: 2.5rem;
    padding-top: 0.3rem;
    padding-inline: 0.5rem;
    filter: invert(100%);
    transition: .3s ease;
}

.logo a img:hover {
    transform: scale(1.2);
}

.navlinks {
    display: flex;
}

.navlinks a {
    color: white;
    margin: .5rem;
    transition: .3s ease;
}

.navlinks a:hover {
    color: var(--secondary-text-color);
    transform: scale(1.1);
}

.navlinks a.active {
    border-bottom: 1px solid var(--secondary-text-color);
}

.navbar.sticky {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 2px 12px 18px 1px rgba(0, 0, 0, 0.3);
}

.fork {
    display: block;
    padding-inline: 1.4rem;
    border: 1px solid var(--secondary-text-color);
    text-decoration: none;
    border-radius: 5px;
    padding-top: .2rem;
    transition: .3s ease;
}

.fork:hover {
    background-color: rgba(241, 110, 243, 0.286);
    color: white;
    transform: scale(1.1);
    border: 1px solid white;
}

.mob-nav-links {
    display: none;
}

.nav-toggle-btn {
    display: none;
}

.bars-btn {
    color: var(--secondary-text-color);
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    padding: .5rem 1rem 0;
}

/* ------- */
/* --Home-- */
/* ------- */

.home-container {
    padding: 5rem 0.5rem;
    justify-content: space-between;
    margin-block: 3.8rem;
}

.wave {
    margin-left: .5rem;
    animation-name: wave-animation;
    animation-duration: 2.1s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
    font-size: 3rem;
}

#tsparticles {
    position: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    z-index: -100;
    width: 100%;
    height: 100%;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.maintext {
    flex-direction: column;

}

.maintext h2 span {
    font-size: 2.5rem;
}

.Typewriter {
    padding-block: 2rem;
}

.devimg {
    display: flex;
    flex-shrink: 2;
}

.devimg img {
    height: 520px;
    object-fit: fill;
}

.maintext h3 span {
    display: inline-block;
    font-size: 1.5rem;
}

.home2-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.8rem;
}

.home-info {
    padding-inline: 2rem;
}

.home-info p {
    text-align: center;
}

.home2-container div img {
    padding: 2rem 3rem;
    height: 350px;
}

.home2-container div p {
    padding: 1.5rem 0 0;
}

.home3-container {
    display: grid;
    place-items: center;
    margin-bottom: 3.8rem;
}

.home3-container h2 {
    font-weight: 400;
    font-size: 2.8rem;
}

.home3-container p,
.home3-container p span {
    font-size: 1rem;
}

.social-icons {
    display: inline-block;
    margin: 1rem;
    font-size: 1rem;
    background-color: white;
    color: purple;
    padding: .7rem .8rem .3rem;
    border-radius: 50%;
    transition: .3s;
}

.social-icons:hover {
    box-shadow: 0px 0px 20px 5px purple;
}

/* ------- */
/* --About-- */
/* ------- */

.about-container {
    padding: 3rem 1rem;
    margin-block: 3.8rem;
}

.about-container h2 span {
    font-size: 2rem;
}

.about-container h2,
.about-container h3,
.about-container p {
    text-align: center;
}

.skillheading {
    margin-block: 2rem;
}

.skillheading h2 {
    text-align: center;
    font-weight: 400;
}

.skillheading h2 span {
    font-size: 2rem;
}

.skillcard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3.8rem;
}

.skill-card {
    color: var(--primary-text-color);
    font-size: 5rem;
    padding: 1rem 2.5rem 0;
    margin: 1rem;
    border: 2px solid purple;
    border-radius: 10px;
    transition: 0.3s;
}

.skill-card:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 2px purple;
}

/* ------- */
/* --Resume-- */
/* ------- */

.resume-container {
    padding: 3rem 0;
    flex-direction: column;
    align-items: center;
    margin-block: 3.8rem;
    gap: 2rem;
}

.download-btn {
    text-decoration: none;
    border: 1px solid purple;
    border-radius: 5px;
    padding: .3rem 2.5rem;
    color: var(--primary-text-color);
    background-color: purple;
}

.download-btn:hover {
    background-color: lightpink;
}

.document {
    display: flex;
    justify-content: center;
    overflow: hidden;
}


/* ------- */
/* --Contactme-- */
/* ------- */

.contact-container {
    margin-bottom: 3.8rem;
}

.contact-header {
    text-align: center;
    margin-top: 6rem;
}

.form-box {
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 1.3rem;
    width: 25rem;
    margin: 0 auto;
    flex-shrink: 9;
}

form label {
    color: white;
    margin-bottom: 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    color: #333;
}

form input[type="submit"] {
    background-color: #c559ed;
    color: white;
    cursor: pointer;
    font-weight: 400;
    transition: .3s;
}

form input[type="submit"]:hover {
    background-color: #eb5def;
}

/* ------- */
/* --footer-- */
/* ------- */

.footer {
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: space-around;
    color: white;
    align-items: center;
    width: 100%;
    margin-inline: auto;

}

.ficons-container {
    align-items: center;
}

.fsocial-icons {
    display: inline-block;
    margin: 1rem;
    font-size: 1rem;
    color: white;
}


/* -------------
media-queries
------------- */
/* 2xl */
@media (min-width:1536px) {
    .container {
        max-width: 1400px;
        margin-inline: auto;
    }

}

/* 2xl */
@media (max-width:1536px) {
    .container {
        max-width: 1280px;
    }

}

/* xl */
@media (max-width:1280px) {
    .container {
        max-width: 1024px;
    }

    .home-container {
        padding: 5rem 1.5rem;
        justify-content: space-between;
        margin-block: 3.8rem;
    }

    .devimg img {
        height: 420px;
        object-fit: fill;
    }
}

/* lg screen */
@media (max-width:1024px) {
    .container {
        max-width: 768px;
    }

    .devimg img {
        height: 250px;
        object-fit: fill;
    }

    .home2-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .maintext h1 {
        font-size: 2rem;
    }

    .maintext h2 span {
        font-size: 2rem;
    }
}

/* md screens */
@media (max-width:768px) {
    .container {
        max-width: 640px;
    }

    .home-container {
        flex-direction: column;
        align-items: center;
        align-content: space-between;
        padding-block: 2.5rem;
    }

    .wave {
        font-size: 2rem;
    }

    .Typewriter {
        width: 310px;
    }

    .footer {
        flex-direction: column;
    }

    .fsocial-icons {
        margin: 0.3rem 0.8rem 0.2rem;
    }

    .contact-header h2 {
        font-size: 1.5rem;
    }


}

/* sm screens */
@media (max-width:640px) {
    .container {
        max-width: 475px;
    }

    .navlinks {
        display: none;
    }

    .mob-nav-links {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(10px);
        box-shadow: 2px 12px 18px 1px rgba(0, 0, 0, 0.3);
        z-index: 10;
    }

    .mob-nav-links a {
        color: var(--primary-text-color);
        margin: 1rem
    }

    .mob-nav-links a.active {
        border-bottom: 1px solid var(--secondary-text-color);
    }

    .nav-toggle-btn {
        display: block;
        z-index: 20;
    }

    .react-pdf__Page {
        width: 475px !important;
    }

    .fsocial-icons {
        font-size: 0.7rem;
    }
}

/* xs screens */
@media (max-width:475px) {
    .container {
        width: 100%;
    }

    h1 {
        font-size: 1.2rem !important;
    }

    h2 {
        font-size: 1.1rem !important;
    }

    span {
        font-size: 1rem !important;
    }

    h2 span {
        font-size: 1.2rem !important;
    }


    p span {
        font-size: .8rem !important;
    }

    p {
        font-size: .8rem !important;
        text-align: center;
        line-height: 1.7rem;
    }

    .home-container {
        padding-inline: 0;
        padding-bottom: 0;
        gap: 1rem;
        align-content: center;
    }

    .wave {
        font-size: 1.2rem;
    }

    .devimg img {
        width: 300px;
        height: 200px;
        object-fit: fill;
    }

    .Typewriter {
        margin: 0;
        width: 210px;
        padding-block: .3rem;
    }

    .home2-container {
        display: flex;
    }

    .avtrimg img {
        width: 250px;
        height: 250px !important;
        padding: 0 !important;
    }

    .skill-card {
        font-size: 2.0rem !important;
        padding: 0.6rem 1.5rem 0;
        margin: 0.3rem;
    }

    .about-container {
        margin-bottom: 1rem;
    }

    .form-box {
        width: 300px;
    }

    .react-pdf__Page {
        width: 280px !important;
        margin: 0;
    }

}